@charset "utf-8";

/*#region CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#endregion CSS RESET */

/*#region  CORE */
:root{
   --colore-primario:#85c1e5;
   --colore-secondario:#fff;
}

*{
   box-sizing: border-box;
}

body{
   background-color:#f5f5f5;
}

.clearfix::after{
   content:"";
   display:block;
   clear:both;
}

a{
   text-decoration:none;
}
/*#endregion CORE*/

/*#region HEADER*/
header.intestazione{
   background: linear-gradient(to bottom,var(--colore-primario) 33%,var(--colore-secondario) 33%,var(--colore-secondario) 66%,var(--colore-primario) 66%,var(--colore-primario) 100%);
   padding:7em;
   position:relative;
}

header div.maradona-logo-wrapper{
   position:absolute;
   left:50%;/*3 istruzioni che seguono per centrarlo*/
   top:50%;
   transform:translate(-50%,-50%);
   width:20em;
   height:50%; 
}

header div.maradona-logo{
   width:100%;
   height:100%;
   background: url('../../multimedia/img/coppadelmondo3.png')  center / 35% 100% no-repeat;
   display:none;

}

header div.maradona-logo-contain{
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   text-align:center;

}

header div.maradona-logo-contain span{
   font-size: 7.5em;
   letter-spacing: 0.1em;
   vertical-align:middle;
   opacity:0.8;
   color:#111;
   display:none;
   text-shadow:-1px 1px 0 var(--colore-primario),-2px 2px 0 var(--colore-primario),
   -3px 3px 0 var(--colore-primario),-4px 4px 0 var(--colore-primario),-5px 5px 0 var(--colore-primario);
}

header div.maradona-logo-contain span:nth-of-type(2),header div.maradona-logo-contain span:nth-of-type(3){
   color:#daa520;
}

header div.hamburger-menu{
   position:absolute;
   top:0.6em;
   left:0.6em;
   width:4.5em;
   height:4.5em;
   background-image: url('../../multimedia/img/white-hamburger-2.svg');
   background-repeat: no-repeat ;
   background-size:contain;
   cursor: pointer;
   z-index:10; /*Senza questa proprietà l'elemento non sarà completamente cliccabile*/
}
/*#endregion HEADER*/

/*#region SIDEBAR*/
nav.sidebar{
   display:none;
   width:0;
   height:100%; /*fallback*/
   height:100vh;
   position:absolute;
   top:0;
   left:0;
   background-color: var(--colore-primario);
   z-index:20;
}


nav div.arrow-close{
   float:left;
   width:1.5em;
   height:1.5em;
   margin:0.5em;
   display:none;
   cursor:pointer;
}

 nav ul{
    margin-top:4em;
 }

 nav ul li{
    width:100%;
 }

 nav ul li a{
    display:block;
    padding:24px;
    padding:1.6rem;
    color:var(--colore-secondario);
    text-align:center;
    font-size:2em;
    font-weight:500;
    word-wrap:break-word;
 }

 nav ul li a:hover{
    font-weight:700;
 }
/*#endregion SIDEBAR*/


/*#region CONTENUTO*/

.separatore{
   background:linear-gradient(to bottom,rgba(133, 193, 229,0.8),var(--colore-secondario));
   height:7em;
}

main section{
   opacity:0.7;
}

section#origini .section{
   background-image: url('../../multimedia/img/maradonaadolescente.jpg');
}

section#gol .section{
   background-image: url('../../multimedia/img/maradonagol.jpg');
   height:400px;
}

section#capopolo .section{
   background-image: url('../../multimedia/img/maradonacapopolo.png');
}

section#vizi .section{
   background-image: url('../../multimedia/img/maradonagenioesregolatezza.webp');
}

.section{
   background-repeat:no-repeat;
   background-size:cover;
   height:100%;
   height:100vh;
   width:100%;
   background-attachment: fixed;
   position:relative;
}

.caption {
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   text-align: center;
 }

.section-text-caption{
   background-color:#000;
   color: var(--colore-secondario);
   font-size:4em;
   padding:16px;
   padding:1rem;
   text-transform:uppercase;
   letter-spacing:5px;
}

.section-header{
   text-align:center;
   font-size:2em;
   margin-bottom:0.2em;
   color:#111;
}

.section-content{
   padding:3em;
   padding-top:2em;
   line-height:1.5;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: var(--colore-secondario);
   color:#333;
   text-align:justify;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

div[role='button']{
   width:60px;
   height:60px;
   border-radius:30px;
   background-color:var(--colore-primario);
   position:fixed;
   left:1em;
   bottom:1em;
   background-image: url('../../multimedia/img/arrow-up.png');
   background-position:center;
   background-repeat:no-repeat;
   display:none;
}
/*#endregion CONTENUTO*/

