@use '../abstracts/variables';
@use '../abstracts/placeholders';

#footer {
   clear: both;
   width: 100%;
   @extend %zero-padding-margin;
   color: variables.$second-text-color;
   background: #fa6900;

   .inner {
      padding: 5px variables.$inner-padding;
   }
}
