$colore: red;
$main-font: Georgia, serif;
$headers-font: Tahoma, Geneva, sans-serif;
$space-between-components: 20px;
$inner-padding: 20px;
$link-color: #fff;
$main-text-color: #333;
$second-text-color: #fff;

$large-media: 1024px;
$medium-media: 768px;
$small-media: 480px;
